.Steps {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 95%;
    width: 97%;     

    &__container {
        display: flex;
      
        justify-content: space-around;
        align-items: center;
   
        height: 90%;
        width: 100%;
    }
}