@import "../../../styles/colors.scss";
@import "../../../styles/types.scss";

.Steps {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 95%;
    width: 97%;

    &__container {
        display: flex;

        justify-content: space-around;
        align-items: center;

        height: 90%;
        width: 100%;
    }

    &__modal {
        width: 400px;
        height: 200px;
        background: $white;

        display: flex;
        justify-content: center;
        align-items: center;

      

        @extend %box-shadow;

        border-radius: 15px;

        &__container {

            width: 80%;
            height: 80%;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;

            h1{
                color: $orange;
                font-size: 1.5em;
            }


            height: 100%;

            position: relative;

            &__icon{
                position: absolute;
                width: 100px;
                right: -100px;
                
            }

        }
    }
}