@import "../../../styles/_size";
@import "../../../styles/colors.scss";

* {
    box-sizing: border-box;
}

html,
body,
#root,
.App {
    height: 100%;
}


.Cases {

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    background: $lightGray;


    &__header {
        display: flex;

        justify-content: flex-start;

        align-items: stretch;
        max-width: $max-width;

        width: 100%;
        height: 30%;



        &__title {
            display: flex;
            flex-direction: column;
            justify-content: space-around;



            height: 100%;
            width: 70%;
            padding: 0 50px;


            &__h1 {
                font-size: 2em;
                color: $orange;
            }


            &__description {
                color: $black;
            }
        }

        &__space {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            &__line {
                background: $gray;
                width: 1px;
                height: 50%;
            }
        }

        &__filters {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 30%;

            &__select {
                border: none;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 30px;
                height: 40px;
                width: 200px;
                color: $orange;
                padding: 0 20px;
                font-weight: bold;

                &__option {}
            }

        }
    }

    &__admin {

        display: flex;
        justify-content: center;

        width: 100%;
        height: 100%;

        &__container {
            display: flex;
            flex-wrap: wrap;

            justify-content: center;
            align-items: center;

            width: 80%;
            height: 80%;

            &__new {

                width: 200px;
                height: 40%;

                &__container {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 20px;
                    background: $orange;

                    width: 100%;
                    height: 100%;

                    color: white;
                    text-align: center;
                    padding: 20px 30px;

                    transition: all .3s ease;

                    img {
                        width: 35%;
                    }

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.75);
                    }
                }

              
            }

        }

        overflow: scroll;
    }

}



.scrollview::-webkit-scrollbar {
    width: 10px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    // display: none;
    /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.scrollview::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.scrollview::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.scrollview::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}


/* Ponemos un color de fondo y redondeamos las esquinas del track */
.scrollview::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.scrollview::-webkit-scrollbar-track:hover,
.scrollview::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}