@import "../../../styles/colors";


.Step {

    width: 15%;
    height: 100%;
    color: white;

    &:hover {
        cursor: pointer;
    }

    &__container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        background: $orange;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);

        &__title {
            height: 10%;
            width: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            h1{
                font-size: 1.3em;
            }
        }

        &__line {
            background: $orangeBlack;
            border: 1px solid $orangeBlack;
            width: 80%;
        }

        &__info {
            height: 60%;
            width: 90%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &__title {
                text-align: center;
                font-size: 1.3em;
            }

            &__icon {

                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 40%;
                }
            }
        }

        &__check {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 20%;

            &__progress {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                width: 65px;
                height: 65px;
                border-radius: 50px;

                border: 1px solid $gray;
                background: $white;

                &__iconProgress{
                    color: $orange;
                    animation-name: progreso;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    font-size: 20px;
                }

                &>div {
                    border-radius: 50px;
                }
            }

            &__view {}
        }
    }
}

@keyframes progreso {
    from{
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(360deg);
    }
}

/*----------------------------------Estados----------------------------------*/

.progress {

    .Step__container {

        background: $lightOrange;
        color: $white;

        &__title {
            color: $white;
        }

        &__line {
            background: $white;
            border: 1px solid $white;
        }

        &__info {
            &__icon {
                filter: saturate(50%);

            }
        }

    }
}

.disabled {

    .Step__container {

        background: $white;
        color: $black;

        &__title {
            color: $darkGray;
        }

        &__line {
            background: $gray;
            border: 1px solid $gray;
        }

        &__info {
            &__icon {
                filter: saturate(0%);

            }
        }
    }
}

.complete {
    .Step__container {
     
        &__check {
            &__progress {
                svg{
                    width: 50%;
                    height: 50%;
                    fill:$lightGreen;
                }
            }
        }
    }
}

.denied {
    .Step__container {
        background: $red;
        color: $white;

        &__title {
      
        }

        &__line {
            background: $white;
            border: 1px solid $white;
        }


        &__info {
            &__icon {
        
            }
        }

        &__check {
           
            &__progress {
                background: $red;
                border: none;
                color: $white;
                font-size: 3em;
            }
        }
    }
}