@import '../../styles/colors.scss';

.Notificaciones {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

    width: 100%;
    height: 100vh;

    padding-top: 50px;

    &__title {
        width: 100%;
        font-size: 25px;
        color: $orange;
        padding: 0 50px;
        margin-bottom: 25px;
    }

    &__menu {
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: center;

        padding: 20px 50px;
        border: solid 1px $darkGray;
        border-left: none;
        border-right: none;

        &__items {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: center;
            align-items: center;

            p {
                cursor: pointer;
                padding: 0 15px;
                transition: all .4s;
            }

            p:hover {
                color: $orange;
            }

            &__todos {
                border-right: solid 1px $darkGray;
            }

            &__noleidos {
                width: max-content;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                span {
                    background: $orange;
                    color: $white;
                    border-radius: 15px;
                    width: 30px;
                    height: 30px;
                    margin-left: 5px;

                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                }
            }
        }

        &__icon {
            svg {
                width: 25px;
                height: 25px;
                cursor: pointer;
                fill: $black;
                transition: all .4s;
            }
        }

        &__icon:hover {
            svg {
                fill: $orange;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        padding: 50px;
        
        &__card {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            border-radius: 15px;
            margin-bottom: 25px;
            transition: all .4s;
            margin: 25px;

            &__header {
                border-bottom: solid 2px $darkGray;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                padding: 15px;
                margin-bottom: 15px;
                transition: all .4s;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-content: stretch;
                align-items: center;

                h1 {
                    font-weight: bold;
                    color: $black;
                    font-size: 20px;
                    transition: all .4s;
                    padding-left: 15px;
                }

                &__img {
                    width: 20px;
                    height: 20px;
                    fill: $gray;
                    transition: all .4s;
                    margin-left: 15px;
                    
                    circle{
                        transition: all .4s;
                        fill:#FF0000;
                    }
                    path{
                        fill: $white;
                        transition: all .4s;
                    }
                }
            }

            &__content {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: stretch;
                align-items: center;
                padding-bottom: 15px;

                &__img {
                    width: 40%;
                    min-width: 90px;
                    img {
                        width: 60%;
                    }
                }

                &__txt {
                    
                    &__texto {
                        h3 {
                            color: $orange;
                            font-weight: normal;
                        }
                        p{
                            font-size: 20px;
                            color: $black;
                        }
                        
                    }
                    
                    &__texto:first-child{
                        margin-bottom: 10px;
                    }
                }
            }
        }

        &__card:hover{
            .Notificaciones__content__card__header{
                background: $orange;
                h1{
                    color: $white;
                }

                &__img{
                    circle{
                        fill: $white;
                    }

                    path{
                        fill: $orange;
                    }
                }
            }
        }
    }

    &__header{
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        padding: 20px 50px;
        border: solid 1px $darkGray;
        border-left: none;
        border-right: none;

        &__noappear{
            color: transparent;
        }

        &__title{    
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;
            h1{
                font-size: 20px;
                color: $black;
                margin-bottom: 10px;
            }
    
            p{
                color: $orange;
            }
        }

        &__icon {
            svg {
                width: 25px;
                height: 25px;
                cursor: pointer;
                fill: $black;
                transition: all .4s;
            }
        }

        &__icon:hover {
            svg {
                fill: $orange;
            }
        }

    }

    &__mensaje{
        position: relative;
        background: $lightGray;
        width: calc(100% - 100px);
        height: 100%;
        border-radius: 25px;
        margin: 50px 0;

        padding: 50px;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: flex-start;

        &__title{
            width: 100%;
            font-size: 30px;
            color: $black;
            font-weight: bolder;
            text-align: left;
        }

        &__text{
            font-size: 20px;
            color: $black;
            margin-top: 25px;
        }

        &__btn {
            position: absolute;
            bottom: 50px;

            display: block;
            width: 200px;
            height: 35px;

            background: $orange;
            border: solid 2px $orange;
            border-radius: 100px;

            color: $white;
            font-weight: bolder;
            font-size: 16px;

            cursor: pointer;
            transition: all .4s;

            margin: 0 20px;
            margin-top: 25px;
        }

        &__btn:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}