@import "../../styles/colors";

.task {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $lightGray;
   /* background-image: url('/img/background/inicio.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;*/

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
    }

    .horizontal {
        display: flex;
    }

    .space-around {
        display: flex;
        justify-content: space-around;
    }

    &__width {
        &__complete {
            .task {
                background: red;


                &__header,
                &__question {
                   

                    &__container {
                        width: 100%;
                        margin-right: 0;
                    }
                }

            }
        }
    }

    &__information {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: 100%;
    }

    &__header {
        height: 25%;

        display: flex;
        justify-content: flex-end;

        &__container {
            width: 70%;
        }
    }

    &__question {
        height: 75%;

        display: flex;
        justify-content: flex-end;

        &__container {
            width: 60%;
            margin-right: 10%;

            &__information {
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            &__navigation {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 20%;
            }
        }

        &__button {
            &__next {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $orange;
                border-radius: 50px;
                width: 90px;
                height: 90px;
                transition: all .5s ease;

                & svg {
                    fill: white;
                    transition: all .5s ease;
                }

                &:hover {
                    cursor: pointer;
                    width: 110px;
                    height: 110px;

                    & svg {
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    &__navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.task {
    &__title {
        font-size: 2em;
        color: $orange;
        text-align: center;
    }
}



/*Revisar**/

.CrearSolicitud {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

    width: 100%;
    height: 100vh;

    &__header {
        height: 100%;
        width: 100%;
        border-bottom: solid 1px $darkGray;


        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        &__titulo {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;

            width: 50%;
            margin-bottom: 20px;

            &__img {
                margin-right: 20px;
                width: 70px;

                img {
                    width: 100%;
                }
            }

            &__txt {
                font-size: 20px;
                color: $black;

                strong {
                    font-size: 25px;
                    color: $orange;
                    font-weight: bolder;
                }
            }
        }

        &__progress {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;

            width: 50%;

            &__txt {
                font-size: 20px;
                color: $gray;
                font-weight: bolder;
                margin-right: 40px;
            }

            .ProgressBar {
                width: 35%;
            }
        }
    }

    &__pregunta {
        width: 100%;
        height: 80%;
        padding: 0 40px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;

        &__texto {
            width: 100%;
            padding-bottom: 50px;

            &__txt {
                color: $black;
                font-size: 20px;

                strong {
                    font-weight: bolder;
                    font-size: 25px;
                    color: $orange;
                    margin-right: 10px;
                }
            }

        }

        &__opciones {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-content: stretch;
            align-items: center;

            width: 100%;

            &__opcion {
                width: 20%;
                min-width: 150px;

                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: stretch;
                align-items: center;

                cursor: pointer;
                transition: all .4s;

                &__img {
                    width: 100%;
                    height: 275px;
                    background: #FFFFFF;

                    margin-bottom: 20px;
                    padding: 20px;

                    border-radius: 10px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                    transition: all .4s;

                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-content: stretch;
                    align-items: center;

                    img {
                        width: 100%;
                    }
                }

                &__texto {
                    color: $black;
                    font-weight: bolder;
                    font-size: 20px;
                }

                &__description {
                    color: $orange;
                    margin-bottom: 5px;
                    font-weight: bold;
                }
            }

            &__opcion:hover, .select {
                .CrearSolicitud__pregunta__opciones__opcion__img {
                    background: $orange;
                }
            }
        }

        .CrearSolicitud__pregunta__input-contenedor {
            width: 100%;
        }

        &__input {
            width: 100%;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-content: center;
            align-items: center;

            &__label {
                margin-bottom: 20px;
                width: 40%;

                &__text {
                    color: $black;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                &__input {
                    background: $lightGray;
                    border: 1px solid $darkGray;
                    box-sizing: border-box;
                    border-radius: 100px;
                    padding: 10px 25px;
                    color: $black;
                    width: 100%;
                }
            }

            &__canvas{
                margin-bottom: 20px;
                width: 50%;

                canvas{
                    height: 150px;
                    width: 100%;
                    border: solid 2px $black;
                }
            }
        }

        &__btns {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: stretch;
            align-items: center;

            width: 100%;

            &__btn {
                display: block;
                width: 150px;
                height: 35px;

                border: solid 2px $orange;
                border-radius: 100px;

                font-weight: bolder;
                font-size: 16px;

                cursor: pointer;
                transition: all .4s;

                margin: 0 20px;
                margin-top: 25px;
            }

            &__btn:first-child {
                background: $white;
                color: $orange;
            }

            &__btn:last-child {
                background: $orange;
                color: $white;
            }

            &__btn:hover {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }


}