@import "../../styles/colors";

.MenuCase {
    height: 100%;
    background-image: url('/img/background/fondoA.png');
    background-repeat: no-repeat;
    background-size: 100% 20%;

    &__title {

        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 80%;
        }
    }

    &__navegation {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &__proyects,
        &__notification {

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 25px 0px 0px 25px;

            height: 150px;
            width: 90%;
            margin: 20px 0;

            &:hover{
                cursor: pointer;
            }

            &__icon,
            &__title {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__icon {
                
                max-width: 30%;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                background: $orange;

                svg {
                    fill: $white;
                }
            }

            &__title {
                font-size: 1.3em;
                width: 70%;
                color: $orange;
            }
        }

        &__proyects {}

        &__notification {}
    }
}


.MenuCase {

    .active {
        background: $orange;

        .MenuCase__navegation {
            &__proyects, &__notification {
                &__icon {
                    background: $white;

                    svg {
                        fill: $orange;
                    }
                }

                &__title {
                    color: $white;
                }
            }
        }

    }


}